.container a{
    font-size: 2rem;
}

.nav-item a{
    font-size: 1.8rem;
}

.d-flex button{
    font-size: 1.8rem;
}

input{
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* box-shadow: inset; */
}