html, body{
  /* background-image: url("https://images.unsplash.com/photo-1565691410967-4e1c68077b5d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=676&q=80"); */
  /* background-position: center; */
  /* background-attachment: `; */
  background-image: url("https://images.unsplash.com/photo-1512361180836-1ecddb33f2dd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  width: auto;
}